* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div#banner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222;
  width: 100%;
}
div#banner-content {
  margin: 0 auto;
  padding: 10px 10px 10px 20px;
  color: #9d9d9d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}
div#main-content {
  padding-top: 70px;
}
div#loader {
  margin: 50px 40px 40px 40px;
  padding: 10px;
}
input[type="button"] {
  background-color: #e6e6e6;
  color: black;
  padding: 5px 15px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  border-color: #adadad;
  border-width: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  top: -35px;
  left: 150px;
}
input[type="button"]:hover {
  background-color: #fff;
}
#gymCount {
  font-size: 16px;
  font-weight: bold;
}
div#notes {
  font-size: 12px;
  position: relative;
  top: -10px;
}
#spinner {
  height: 100px;
  width: 100px;
  position: relative;
  left: 150px;
}
#inputAdoID {
  border-radius: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 4px 6px;
  margin: 8px 0;
}
#gymLinkList {
  font-size: 14px;
  padding-left: 30px;
  padding-top: 10px;
}
#li {
  padding: 2px;
}
